[submodule "helper_gen/attacks/BlackboxBench"]
	path = helper_gen/attacks/BlackboxBench
	url = https://github.com/SCLBD/BlackboxBench.git
[submodule "helper_gen/attacks/autoattack"]
	path = helper_gen/attacks/autoattack
	url = https://github.com/adverML/auto-attack.git
	branch = multilid
